@charset "UTF-8";

body, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    width: 400px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

main h1 {
    font-size: 1.8rem;
}

main p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

main a {
    font-size: 1rem;
    text-decoration: underline;
}
